@font-face {
  font-family: myFont;
  src: url(spliffs.ttf);
}

.subtitle{
  background-image:linear-gradient(150deg,rgb(52, 119, 51),white);
  border-bottom: 2px solid blue;
  font-family: myFont;
  padding-left: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: azure;
}


iframe{
  width:90vw;
  height:90vh;
}

