.App {
  background-color: black;
  color: white;
}

@font-face {
  font-family: myFont;
  src: url(spliffs.ttf);
}

.subtitle{
  background-image:linear-gradient(150deg,rgb(52, 119, 51),white);
  border-bottom: 2px solid blue;
  font-family: myFont;
  padding-left: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: azure;
  margin-bottom: 20px;
}


iframe{
  width:90vw;
  height:90vh;
}

.container{
  padding-bottom: 30px;
}

.card-text, .card-body {
  color:black;
}

.btn-warning{
  margin-left: 10px;
}

